<div class="col-md-6">
  <h1>Baja de Grupo Masivo</h1>
  <form class="form-horizontal" action="/baja">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Ciclo</label>
      <div class="col-sm-4">
        <select class="form-control" name="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Region</label>
      <div class="col-sm-4">
        <select class="form-control" name="">
          <option value="">R9</option>
          <option value="">R8</option>
          <option value="">R7</option>
          <option value="">R6</option>
          <option value="">R5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Archivo</label>
      <div class="col-sm-10">
      <input type="file" class="form-control" value="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Validar</button>
      </div>
    </div>
  </form>

</div>
