<h1>Autorizaciones Pendientes</h1>
<table class="w3-table w3-bordered">
<thead class="w3-light-grey">
    <th style="text-align:center">Folio</th>
    <th style="text-align:center">Region</th>
    <th style="text-align:center">Ciclo</th>
    <th style="text-align:center">Lineas</th>
    <th style="text-align:center">---</th>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:center">45635</td>
      <td style="text-align:center">R9</td>
      <td style="text-align:center">5</td>
      <td style="text-align:center">234</td>
      <td style="text-align:center">
        <a href="/auto"><i class="material-icons">arrow_forward</i></a>
       </td>
    </tr>
    <tr>
      <td style="text-align:center">47877</td>
      <td style="text-align:center">R8</td>
      <td style="text-align:center">7</td>
      <td style="text-align:center">143</td>
      <td style="text-align:center">
        <a href="/auto"><i class="material-icons">arrow_forward</i></a>
       </td>
    </tr>
  </tbody>
</table>
